<div fxLayout="column">
    <div>
        <h1>Heroes Search</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
        <h3>Search</h3>

        <mat-form-field>
            <input type="text"
                    placeholder="Pick One"
                    aria-label="Number"
                    matInput
                    [(ngModel)]="term"
                    [matAutocomplete]="auto"
                    (input)="searchHero()">
            <mat-autocomplete autoActiveFirstOption
                              #auto="matAutocomplete"
                              (optionSelected)="optionSelected( $event )">
                <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                    {{ heroe.superhero }}
                </mat-option>
                <mat-option value="" *ngIf="heroes.length === 0 && term.length > 0 ">
                    {{ term }} no found !
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

    </div>
    <div *ngIf="heroeSelected"
         >
        <app-hero-card [heroe]="heroeSelected"></app-hero-card>

    </div>
</div>
